body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    background: linear-gradient(rgba(135, 80, 156, 0.808),rgba(135, 80, 156, 0.753)),url(./img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 85vh;
    position:relative;
}
#heading{
  
    background-color: #3333338e;
    height: 4rem;
    margin-top:.5rem;
    width: auto;
}
h2{
    color: seashell;
    margin: .9rem;
    font-size:30px;
    margin-left:15rem;
   
    display: inline-block;

    
}
.main-nav {
    float: right;
    margin-right: 5rem;
}
.main-nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 1rem;
    border: 1px solid black;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    background-color: #2e8b56bd;
    transition: 0.5s;

    font-size: 1.2rem;
    
}
.main-nav li:hover{
    background-color: #ff000057;
    
}
.main-nav li:fast-child{
    margin-left: 0;
}


ul li a{
    text-decoration: none;
    color: white;
} 

/* ----------------------------form---------------------------- */
form{
    text-align: center;
    margin-left: 3rem;
    text-align: justify;
}
h3{
    color: #fff;
                                        
}
label{
    font-weight:bold;
    color: black;
}
button{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}
section{
    background: linear-gradient(rgba(156, 151, 80, 0.808),rgba(156, 142, 80, 0.753)),url(./img/skill-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 85vh;
    position:relative;
}
.fistPara{
    padding: 10px;
    float: left;
    width: 500px;
    height: 400px;
    margin:30px 0 0 70px;
    border: rgba(255, 255, 0, 0.788) solid 10px;
    background-color: #00808091;
    
}
.secondPara{
    background-color: #ecec1178;
    padding: 10px;
    float: right;
    width: 500px;
    height: 400px;
    border: rgba(0, 128, 0, 0.712) solid 10px;
    margin:30px 70px 0 0 ;
}
h3{
    background-color: #3333338e;
    display:inline-block;
}
p{
    font-weight: bold;
    overflow: hidden; 
}
hr{
   background-color: aqua;
}


